<!--include Header-->
<%- include('include/_header')%>
<!--/include Header-->

<!--include Aside-->

<%- include('include/_aside')%>
<!--/include Aside-->

    <div class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 class="text-3xl text-black">Dashboard</h1>
            <p class="text-lg">Halo, Selamat Datang di halaman Dashboard Prediksi Emas !</p>
        </main>
    </div>

<!--include Footer-->
<%- include('include/_footer')%>
<!--/include Footer-->

    

    